<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>統義玻璃股份有限公司&nbsp;<small>系統登入頁面</small></h1>
        </div>
    </div>
    <div class="row">
        <form id="loginForm" name="loginForm" class="form-horizontal" action="" method="" enctype="">
            <div class="form-group">
                <label for="loginID" class="col-xs-3 col-lg-2 control-label text-right">使用者帳號</label>
                <div class="col-xs-8 col-lg-2">
                    <input id="loginID" name="loginID" type="text" class="form-control" placeholder="使用者帳號" required />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-3 col-lg-2 control-label text-right">密碼</label>
                <div class="col-xs-8 col-lg-2">
                    <input id="password" name="password" type="password" class="form-control" placeholder="密碼" required />
                </div>
            </div>
            <div class="form-group">
                <label for="systemID" class="col-xs-3 col-lg-2 control-label text-right">系統名稱</label>
                <div class="col-xs-8 col-lg-2">
                    <select id="systemID" name="systemID" class="form-control" form="loginForm" required>
                        <option disabled selected value>請選擇系統</option>
                    </select>
                </div>
            </div>
            <div class="btn-group col-xs-offset-3 col-xs-offset-2" role="group">
                <button type="submit" class="btn btn-default btn-lg">登入</button>
            </div>
            <div class="btn-group" role="group">
                <button type="reset" class="btn btn-default btn-lg">重設</button>
            </div>
        </form>
    </div>
    <br>
    <div id="statusMessage"></div>
</div>
