<form id="isProdDataForm" name="isProdDataForm" action="" method="" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row text-center">
            <h2 id="title">統義玻璃工業股份有限公司</h2>
            <h4 id="subtitle">製造課生產條件記錄表</h4>
        </div>
        <br class="hideWhenPrint">
        <div class="row hideWhenPrint">
            <div class="col-xs-12">
                <span>製令單號</span>&nbsp;
                <select id="glassRun" name="glassRun" tabindex=""></select>
                <input id="machno" name="machno" class="restoreData" type="text" size="10" style="display:none;" tabindex="" />
                <input id="prd_no" name="prd_no" class="restoreData" type="text" size="10" style="display:none;" tabindex="" />
                <select id="formState" name="formState" style="display:none;" tabindex=""></select>
            </div>
        </div>
        <br class="hideWhenPrint">
        <div class="row">
            <div class="col-xs-12">
                <span class="abc">生產日期</span>
                <input id="schedate" name="schedate" class="restoreData preparePrint dataField" type="date" tabindex="" />&nbsp;&nbsp;
                <span class="abc">生產線</span>&nbsp;
                <input id="glassProdLineID" name="glassProdLineID" class="restoreData preparePrint autocompleteDataField" type="text" size="8" tabindex="" />&nbsp;&nbsp;
                <span class="abc">瓶號</span>&nbsp;
                <input id="mockProdReference" name="mockProdReference" class="restoreData preparePrint autocompleteDataField" type="text" size="10" tabindex="" />&nbsp;
                <input id="sampling" name="sampling" class="restoreData dataField" type="checkbox" tabindex="" />
                <span class="abc">試模</span>&nbsp;&nbsp;
                <span class="abc">重量</span>&nbsp;
                <input id="productionWeight" name="productionWeight" class="restoreData preparePrint dataField" type="number" name="weight" min="1" step="0.05" maxlength="7" style="width:70px;" tabindex="" />&nbsp;
                <span>g</span>&nbsp;&nbsp;
                <span class="abc">生產數量</span>&nbsp;
                <input id="orderQty" name="orderQty" class="restoreData preparePrint dataField" type="number" min='1' step="1" maxlength="10" style="width:100px;" tabindex="" />&nbsp;&nbsp;
                <span class="abc">記錄日期</span>&nbsp;
                <input id="recordDate" name="recordDate" type="date" class="restoreData preparePrint" style="width:130px;" tabindex="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center bordered heightControl">
                <h5>機械設備</h5>
            </div>
            <div class="col-xs-6 text-center bordered heightControl">
                <h5>供給器</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">初模抱具</span>
                <select id="bmHolder" name="bmHolder" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">型式</span>
                <input id="feeder" name="feeder" class="restoreData preparePrint dataField" type="text" size="10" value="CIH-1" tabindex="" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">成模抱具</span>
                <select id="fmHolder" name="fmHolder" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">盆磚</span>
                <input id="spout" name="spout" class="restoreData preparePrint dataField" type="text" size="10" value='144-704-6"-5"' tabindex="" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">口模臂</span>
                <select id="nrArm" name="nrArm" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">磚管速度</span>
                <input id="tubeInverterSetting" name="tubeInverterSetting" class="restoreData preparePrint dataField" type="number" min="0" step="0.001" style="width:100px;" tabindex="" />
                <span>&nbsp;Hz</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">漏斗臂</span>
                <select id="fuArm" name="fuArm" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">出口杯規格</span>
                <select id="orificeRing" name="orificeRing" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">套筒</span>
                <select id="thimble" name="thimble" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">剪刀凸輪</span>
                <select id="shearCam" name="shearCam" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">心棒機構配件</span>
                <select id="plPositioner" name="plPositioner" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">剪刀規格</span>
                <select id="shear" name="shear" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">心棒間隔物</span>
                <input id="spacer" name="spacer" class="restoreData preparePrint dataField" type="number" min="1" step="0.5" style="width:60px;" tabindex="" />
                <span>&nbsp;mm</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">磚棒凸輪</span>
                <select id="plungerCam" name="plungerCam" class="restoreData preparePrint dataField" class="clearable" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">承受螺絲</span>
                <input id="stopScrew" name="stopScrew" class="restoreData preparePrint dataField" type="number" min="1" step="0.5" style="width:60px;" tabindex="" />
                <span>&nbsp;mm</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">磚棒規格</span>
                <select id="plunger" name="plunger" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">接收槽</span>
                <select id="scoop" name="scoop" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">機速</span>
                <input id="machineSpeed" name="machineSpeed" class="restoreData preparePrint dataField" type="number" min="1" step="0.01" maxlength="7" style="width:70px;" tabindex="" />
                <span>&nbsp;/分</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">直槽</span>
                <select id="trough" name="trough" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">製瓶間距</span>
                <select id="bottleSpacing" name="bottleSpacing" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">彎槽</span>
                <select id="deflector" name="deflector" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">口模規</span>
                <select id="nrGauge" name="nrGauge" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">心棒上壓力</span>
                <input id="plUpPressure" name="plUpPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">初模模具溫度</span>
                <input id="bmTemp" name="bmTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:60px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">定頭吹風壓力</span>
                <input id="settleBlowPressure" name="settleBlowPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">成模模具溫度</span>
                <input id="fmTemp" name="fmTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:60px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">心棒冷卻壓力</span>
                <input id="plCoolingPressure" name="plCoolingPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div id="conveyorHeating" class="col-xs-6 checkboxControlContainer restoreData bordered heightControl">
                <span style="display:inline-block;width:120px;">輸送帶點火</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">初成形吹風壓力</span>
                <input id="counterBlowPressure" name="counterBlowPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div id="crossBridgeHeating" class="col-xs-6 checkboxControlContainer restoreData bordered heightControl">
                <span style="display:inline-block;width:120px;">過橋板點火</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">成形吹風壓力</span>
                <input id="finalBlowPressure" name="finalBlowPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">冷卻風壓力</span>
                <select id="coolingPressure" name="coolingPressure" class="restoreData preparePrint dataField" tabindex=""></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">主空氣壓｜高壓</span>
                <input id="highPressure" name="highPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">主空氣壓｜低壓</span>
                <input id="lowPressure" name="lowPressure" class="restoreData preparePrint dataField" type="number" min="0" max="10" step="0.1" style="width:60px;" tabindex="" />
                <span>&nbsp;kg</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">徐冷窯｜網速</span>
                <input id="annealInverterSetting" name="annealInverterSetting" class="restoreData preparePrint dataField" type="number" min="0" step="0.001" style="width:100px;" tabindex="" />
                <span>&nbsp;Hz</span>
            </div>
            <div class="col-xs-6 bordered heightControl">
                <span style="display:inline-block;width:120px;">徐冷窯｜溫度</span>
                <input id="annealFirstTemp" name="annealFirstTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:50px;" tabindex="" />
                <span>&nbsp;°C</span>
                <input id="annealSecondTemp" name="annealSecondTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:50px;" tabindex="" />
                <span>&nbsp;°C</span>
                <input id="annealThirdTemp" name="annealThirdTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:50px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
        </div>
        <div class="row bordered heightControl">
            <div class="col-xs-4">
                <span style="display:inline-block;width:120px;">前爐溫度｜冷卻段</span>
                <input id="fhCoolingTemp" name="fhCoolingTemp" class="restoreData preparePrint dataField" type="number" min="0" step="5" style="width:70px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
            <div class="col-xs-4">
                <span style="display:inline-block;width:120px;">前爐溫度｜調溫段</span>
                <input id="fhAdjustTemp" name="fhAdjustTemp" class="restoreData preparePrint dataField" type="number" min="0" step="5" style="width:70px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
            <div class="col-xs-4">
                <span style="display:inline-block;width:120px;">GOB溫度</span>
                <input id="gobTemp" name="gobTemp" class="restoreData preparePrint dataField" type="number" min="0" step="1" style="width:70px;" tabindex="" />
                <span>&nbsp;°C</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 bordered">
                <div>生產狀況記錄</div>
                <textarea id="note" name="note" class="restoreData preparePrint dataField" rows="5" cols="10" style="width:100%;border:none;" tabindex=""></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 bordered resizeToPrint">
                <div>初模冷卻風箱</div>
                <div class="bmCoolingStack imageHolder"></div>
                <input id="bmCoolingStack" name="bmCoolingStack" class="restoreData hideWhenPrint dataField" type="file" accept="image/*" tabindex="" />
            </div>
            <div class="col-xs-4 bordered resizeToPrint">
                <div>成模冷卻風箱</div>
                <div class="fmCoolingStack imageHolder"></div>
                <input id="fmCoolingStack" name="fmCoolingStack" class="restoreData hideWhenPrint dataField" type="file" accept="image/*" tabindex="" />
            </div>
            <div class="col-xs-4 bordered resizeToPrint">
                <div>GOB 形狀</div>
                <div class="gobShape imageHolder"></div>
                <input id="gobShape" name="gobShape" class="restoreData hideWhenPrint dataField" type="file" accept="image/*" tabindex="" />
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-xs-3">副總經理</div>
            <div class="col-xs-3">生產部主管</div>
            <div class="col-xs-3">製造課長</div>
            <div class="col-xs-3">填表</div>
        </div>
        &nbsp;
        <div class="row hideWhenPrint">
            <div class="col-xs-10 formProcessButtonHolder">
                <input id="submitRecord" type="submit" value="新增記錄" tabindex="" disabled /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="printRecordButton" type="button" tabindex="" disabled>列印文件</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="deleteRecordButton" type="button" tabindex="" disabled>刪除記錄</button>
            </div>
            <div class="col-xs-2">
                <button type="button" tabindex="" onclick="returnToProductionHistorySite()">返回生產履歷網頁</button>
            </div>
        </div>
    </div>
</form>

<script>
    function returnToProductionHistorySite() {
        window.location.replace('http://upgi.ddns.net/productionHistory/Duty/DutyList');
    }
</script>
