<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>製造課生產條件記錄表</title>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.10/moment-timezone-with-data.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.0/numeral.min.js"></script>
    <script>
        //var serverUrl='http://upgi.ddns.net:9004/productionHistory/isProdDataForm/'; // production
        //var serverUrl='http://127.0.0.1:9004/productionHistory/isProdDataForm/'; // development
    </script>
    <!-- production environment -->
    <link rel="shortcut icon" type="image/png" href="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/favicon/upgiLogo.png" />
    <link rel="stylesheet" href="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/css/style.css" />
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/isProdDataModel.js"></script>
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/isProdDataControl.js"></script>
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/generateForm.js"></script>
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/entry.js"></script>
    <!-- development environment -->
    <!--
    <link rel="shortcut icon" type="image/png" href="http://127.0.0.1:9004/productionHistory/isProdDataForm/favicon/upgiLogo.png" />
    <link rel="stylesheet" href="http://127.0.0.1:9004/productionHistory/isProdDataForm/css/style.css" />
    <script src="http://127.0.0.1:9004/productionHistory/isProdDataForm/js/config.js"></script>
    <script src="http://127.0.0.1:9004/productionHistory/isProdDataForm/js/isProdDataModel.js"></script>
    <script src="http://127.0.0.1:9004/productionHistory/isProdDataForm/js/isProdDataControl.js"></script>
    <script src="http://127.0.0.1:9004/productionHistory/isProdDataForm/js/generateForm.js"></script>
    -->
</head>

<body>
</body>

</html>