<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>製造課生產條件記錄表</title>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.10/moment-timezone-with-data.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.0/numeral.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/favicon/upgiLogo.png" />
    <link rel="stylesheet" href="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/css/style.css" />
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/isProdDataModel.js"></script>
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/isProdDataControl.js"></script>
    <script src="http://upgi.ddns.net:9004/productionHistory/isProdDataForm/js/generateForm.js"></script>
</head>

<body>
    <form id="isProdDataForm" name="isProdDataForm" action="" method="" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row text-center">
                <h2 id="title">統義玻璃工業股份有限公司</h2>
                <h4 id="subtitle">製造課生產條件記錄表</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <span>製令單號&nbsp;</span>
                    <select id="glassRun" name="glassRun" required></select>
                    <input id="machno" name="machno" class="fieldToLoad" type="text" size="10" />
                    <input id="schedate" name="schedate" class="fieldToLoad" type="date" />
                    <input id="prodReference" name="prodReference" class="fieldToLoad" type="text" size="10" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
                    <span>瓶號&nbsp;</span>
                    <input id="mockProdReference" name="mockProdReference" class="fieldToLoad" type="text" size="10" readonly />
                </div>
                <div class="col-xs-3">
                    <span>重量&nbsp;</span>
                    <input id="productionWeight" name="productionWeight" class="fieldToLoad" type="number" name="weight" min="1" step="0.05" maxlength="7" style="width:70px;" />
                    <span>&nbsp;g</span>
                </div>
                <div class="col-xs-3">
                    <span>生產線&nbsp;</span>
                    <input id="glassProdLineID" name="glassProdLineID" class="fieldToLoad" type="text" size="8" readonly />
                </div>
                <div class="col-xs-3">
                    <span>記錄日期&nbsp;</span>
                    <input id="recordDate" name="recordDate" type="date" class="fieldToLoad" style="width:130px;" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center bordered heightControl">
                    <h5>機械設備</h5>
                </div>
                <div class="col-xs-6 text-center bordered heightControl">
                    <h5>供給器</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">初模抱具</span>
                    <select id="bmHolder" name="bmHolder" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">型式</span>
                    <input id="feeder" name="feeder" class="fieldToLoad" type="text" size="10" value="CIH-1" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">成模抱具</span>
                    <select id="fmHolder" name="fmHolder" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">盆磚</span>
                    <input id="spout" name="spout" class="fieldToLoad" type="text" size="10" value='144-704-6"-5"' readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">口模臂</span>
                    <select id="nrArm" name="nrArm" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">磚管速度</span>
                    <input id="tubeInverterSetting" name="tubeInverterSetting" class="fieldToLoad" type="number" min="0" step="0.001" style="width:100px;" />
                    <span>&nbsp;Hz</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">漏斗臂</span>
                    <select id="fuArm" name="fuArm" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">出口杯規格</span>
                    <select id="orificeRing" name="orificeRing" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">套筒</span>
                    <select id="thimble" name="thimble" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">剪刀凸輪</span>
                    <select id="shearCam" name="shearCam" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">心棒機構配件</span>
                    <select id="plPositioner" name="plPositioner" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">剪刀規格</span>
                    <select id="shear" name="shear" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">心棒間隔物</span>
                    <input id="spacer" name="spacer" class="fieldToLoad" type="number" min="1" step="0.5" style="width:60px;" />
                    <span>&nbsp;mm</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">磚棒凸輪</span>
                    <select id="plungerCam" name="plungerCam" class="fieldToLoad" class="clearable"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">承受螺絲</span>
                    <input id="stopScrew" name="stopScrew" class="fieldToLoad" type="number" min="1" step="0.5" style="width:60px;" />
                    <span>&nbsp;mm</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">磚棒規格</span>
                    <select id="plunger" name="plunger" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">接收槽</span>
                    <select id="scoop" name="scoop" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">機速</span>
                    <input id="machineSpeed" name="machineSpeed" class="fieldToLoad" type="number" min="1" step="0.01" maxlength="7" style="width:70px;" />
                    <span>&nbsp;/分</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">直槽</span>
                    <select id="trough" name="trough" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">製瓶間距</span>
                    <select id="bottleSpacing" name="bottleSpacing" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">彎槽</span>
                    <select id="deflector" name="deflector" class="fieldToLoad"></select>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">口模規</span>
                    <select id="nrGauge" name="nrGauge" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">心棒上壓力</span>
                    <input id="plUpPressure" name="plUpPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">初模模具溫度</span>
                    <input id="bmTemp" name="bmTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:60px;" />
                    <span>&nbsp;°C</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">定頭吹風壓力</span>
                    <input id="settleBlowPressure" name="settleBlowPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">成模模具溫度</span>
                    <input id="fmTemp" name="fmTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:60px;" />
                    <span>&nbsp;°C</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">心棒冷卻壓力</span>
                    <input id="plCoolingPressure" name="plCoolingPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div id="conveyorHeating" class="col-xs-6 checkboxControlHolder fieldToLoad bordered heightControl">
                    <span style="display:inline-block;width:120px;">輸送帶點火</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">初成形吹風壓力</span>
                    <input id="counterBlowPressure" name="counterBlowPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div id="crossBridgeHeating" class="col-xs-6 checkboxControlHolder fieldToLoad bordered heightControl">
                    <span style="display:inline-block;width:120px;">過橋板點火</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">成形吹風壓力</span>
                    <input id="finalBlowPressure" name="finalBlowPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">冷卻風壓力</span>
                    <select id="coolingPressure" name="coolingPressure" class="fieldToLoad"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">主空氣壓｜高壓</span>
                    <input id="highPressure" name="highPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">主空氣壓｜低壓</span>
                    <input id="lowPressure" name="lowPressure" class="fieldToLoad" type="number" min="0" max="10" step="0.1" style="width:60px;" />
                    <span>&nbsp;kg</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">徐冷窯｜網速</span>
                    <input id="annealInverterSetting" name="annealInverterSetting" class="fieldToLoad" type="number" min="0" step="0.001" style="width:100px;" />
                    <span>&nbsp;Hz</span>
                </div>
                <div class="col-xs-6 bordered heightControl">
                    <span style="display:inline-block;width:120px;">徐冷窯｜溫度</span>
                    <input id="annealFirstTemp" name="annealFirstTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:50px;" />
                    <span>&nbsp;°C</span>
                    <input id="annealSecondTemp" name="annealSecondTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:50px;" />
                    <span>&nbsp;°C</span>
                    <input id="annealThirdTemp" name="annealThirdTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:50px;" />
                    <span>&nbsp;°C</span>
                </div>
            </div>
            <div class="row bordered heightControl">
                <div class="col-xs-4">
                    <span style="display:inline-block;width:120px;">前爐溫度｜冷卻段</span>
                    <input id="fhCoolingTemp" name="fhCoolingTemp" class="fieldToLoad" type="number" min="0" step="5" style="width:70px;" />
                    <span>&nbsp;°C</span>
                </div>
                <div class="col-xs-4">
                    <span style="display:inline-block;width:120px;">前爐溫度｜調溫段</span>
                    <input id="fhAdjustTemp" name="fhAdjustTemp" class="fieldToLoad" type="number" min="0" step="5" style="width:70px;" />
                    <span>&nbsp;°C</span>
                </div>
                <div class="col-xs-4">
                    <span style="display:inline-block;width:120px;">GOB溫度</span>
                    <input id="gobTemp" name="gobTemp" class="fieldToLoad" type="number" min="0" step="1" style="width:70px;" />
                    <span>&nbsp;°C</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div>生產狀況記錄</div>
                    <textarea id="note" name="note" class="fieldToLoad" rows="5" cols="10" style="width:100%;border:none;"></textarea>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-xs-4 bordered">
                    <div>初模冷卻風箱</div><br>
                    <input id="bmCoolingStack" name="bmCoolingStack" class="fieldToLoad" type="file" />
                </div>
                <div class="col-xs-4 bordered">
                    <div>成模冷卻風箱</div><br>
                    <input id="fmCoolingStack" name="fmCoolingStack" class="fieldToLoad" type="file" />
                </div>
                <div class="col-xs-4 bordered">
                    <div>GOB形狀</div><br>
                    <input id="gobShape" name="gobShape" class="fieldToLoad" type="file" />
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-xs-3">副總經理</div>
                <div class="col-xs-3">生產部主管</div>
                <div class="col-xs-3">製造課長</div>
                <div class="col-xs-3">填表</div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" value="送出記錄" />
                    <input type="reset" value="重置表單" />
                </div>
            </div>
        </div>
    </form>
</body>

</html>